<div class="callout callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3><?= trans('keios.pgpayupl::lang.info.header') ?></h3>
    </div>
    <div class="content">
        <ol>
            <li><?= trans('keios.pgpayupl::lang.strings.goto') ?> <a target="_blank" href="https://secure.payu.com/">https://secure.payu.com/</a> <?= trans('keios.pgpayupl::lang.strings.andlogin') ?></li>
            <li>
                <?= trans('keios.pgpayupl::lang.strings.click') ?> <b><?= trans('keios.pgpayupl::lang.strings.myshops') ?></b> <?= trans('keios.pgpayupl::lang.strings.goto') ?>
                <?= trans('keios.pgpayupl::lang.strings.ifyouhaveno') ?> <i><?= URL::to('/') ?></i>
            </li>
            <li>
                <?= trans('keios.pgpayupl::lang.strings.posbutton') ?>
                <?= trans('keios.pgpayupl::lang.strings.ifnopos') ?>
            </li>
            <li>
                <?= trans('keios.pgpayupl::lang.strings.greenbox') ?> <br>
                <img src="/plugins/keios/pgpayupl/assets/img/payu-configuration-keys.png" style="max-width: 100%;"/>
            </li>
            <li><?= trans('keios.pgpayupl::lang.strings.firstpos') ?></li>
            <li><?= trans('keios.pgpayupl::lang.strings.secondpos') ?></li>
            <li><?= trans('keios.pgpayupl::lang.strings.savesettings') ?></li>
        </ol>
    </div>
</div>
